.container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: 100%;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) 
  rgb(var(--background-start-rgb));
}