@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 27, 60; /* Bleu foncé */
  --background-start-rgb: 92, 127, 168; /* Bleu clair */
  --background-end-rgb: 247, 199, 72; /* Jaune */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 27, 60; /* Bleu foncé */
    --background-end-rgb: 92, 127, 168; /* Bleu clair */
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 0em;
  background-color: transparent;
}


@keyframes rotatingShadow {
  0% {
    box-shadow: 0 0 30px 5px rgba(0, 160, 255, 0.8);
  }
  25% {
    box-shadow: 0 0 30px 5px rgba(0, 110, 230, 0.8);
  }
  50% {
    box-shadow: 0 0 30px 5px rgba(0, 70, 200, 0.8);
  }
  75% {
    box-shadow: 0 0 30px 5px rgba(0, 30, 170, 0.8);
  }
  100% {
    box-shadow: 0 0 30px 5px rgba(0, 0, 140, 0.8);
  }
}

.effect-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  animation: rotatingShadow 10s infinite alternate;; /* Ajoutez cette ligne pour l'animation */
}


.text-content {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5;
  padding: 10px;
  border-radius: 50px; 
}

.flex {
  display: flex;
  flex-direction: row; 
}

@media (max-width: 768px) { 
  .full-text-container {
    flex-direction: column-reverse; 
  }

  .text-container {
    width: 100% !important;
    margin-bottom: 15px;   
  }
  
  .image-container {
    width: 50% !important;
    padding-bottom: 5% !important;
  }
}
