/* pdfviewer.module.css */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.pdfViewer {
    width: 90%;
    /* Ajustez selon les besoins de votre mise en page */
    max-width: 800px;
    /* Ajustez pour définir une largeur maximale pour les grands écrans */
    height: 100%;
    /* Prend toute la hauteur disponible */
    border: 1px solid #ccc;
    overflow: auto;
    /* Ajoute des barres de défilement si le contenu du PDF déborde */
}