.burgerMenuContainer {
    font-family: 'Poppins', sans-serif;
    user-select: none;
    position: absolute; /* ou 'fixed' si vous voulez que le menu reste en place lors du défilement */
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    outline: none;
    z-index: 10;
    position: relative;
  }
  
  .burgerButton.open .burgerLine:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burgerButton.open .burgerLine:nth-child(2) {
    opacity: 0;
  }
  
  .burgerButton.open .burgerLine:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .burgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
  }
  
  .burgerLine {
    background-color: #79afea;
    height: 3px;
    width: 30px;
    transition: transform 0.3s ease, opacity 0.2s ease;
  }
  
  .menuItems {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFFFFFa;
    width: 200px;
    box-shadow: 0 8px 16px rgba(101, 96, 180, 0.785);
    border-radius: 4px;
    margin: 10px;
  }
  
  .menuItems.menuOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menuLink {
    display: block;
    padding: 10px 15px;
    color: #333333;
    text-decoration: none!important;
    transition: color 0.3s ease;
  }
  
  .menuLink:hover {
    color: #007bff;
  }
  